<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">

    <title>New Movie</title>
</head>
<body>
    <%- include('header') %>

    <h1>Update Movie</h1>
    <form method="POST" action="/movies/<%= movieId %>/update" >
        <label for="title">
            Movie Title
            <input type="text" id="movieTitle" name="movieTitle">
        </label>
        <select name="movie_genre_id">
            <% genres.forEach((genre) => { %>
                <option value="<%= genre.movie_genre_id %>"><%= genre.genre_name %></option>
              <% }); %>
           
          </select>
          <select name="movie_studio_id">
            <% studios.forEach((studio) => { %>
                <option value="<%= studio.studio_id %>"><%= studio.studio_name %></option>
              <% }); %>
           
          </select>
        <input type="submit" value="update">
     </form>
</body>
</html>